---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

const pageTitle = "我的博客";
---

<BaseLayout pageTitle={pageTitle}>
  <p>欢迎来到我的博客，这里将分享我的学习笔记和心得。</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost title={post.frontmatter.title} url = {post.url}/>
      ))
    }
  </ul>
</BaseLayout>
