---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/thinking/*.md", { eager: true })
);
const sortedPosts = allPosts.sort((a: any, b: any) => {
  // 将 pubDate 转换为 Date 对象进行比较
  const dateA: any = new Date(a.frontmatter.pubDate);
  const dateB: any = new Date(b.frontmatter.pubDate);

  // 倒序排列（新 -> 旧）
  return dateB - dateA;
});
const pageTitle = "浅言碎语";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>浅言碎语</h2>
  <ul class="article-list">
    {
      sortedPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
