---

---

<header>
  <nav>
    <div class="nav-links">
      <a href="/">主页</a>
      <a href="/essay">浅言碎语</a>
      <a href="/code">代码行间</a>
      <a href="/friends">友链</a>
    </div>
  </nav>
</header>
