---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <article class="post-content">
    <div class="post-meta">
      <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
      <p><em>{frontmatter.description}</em></p>
    </div>
    <div class="content">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  .post-content {
    font-size: 1.1rem;  /* 设置基础字体大小 */
  }
  .post-meta {
    color: #666;
    margin-bottom: 2rem;
  }

</style>
